
<div class="col-md-6 col-md-offset-3">
  <h2>Création compte</h2>
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Login.valid }">
      <label for="Login">Nom d'utilisateur</label>
      <input type="text" class="form-control" name="Login" [(ngModel)]="model.Login" #Login="ngModel" required />
      <div *ngIf="f.submitted && !Login.valid" class="help-block">Le nom d'utilisateur est requis</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block">Le mot de passe est requis</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !type.valid }">
      <label for="type">Type</label>
      <select name="type" [(ngModel)]="model.type" #type="ngModel">
          <option [ngValue]="'visiteur'">Visiteur</option>
          <option [ngValue]="'comptable'">Comptable</option>
          <option [ngValue]="'admin'">Admin</option>
        </select>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Nom.valid }">
      <label for="Nom">Nom</label>
      <input type="text" class="form-control" name="Nom" [(ngModel)]="model.Nom" #Nom="ngModel" required />
      <div *ngIf="f.submitted && !Nom.valid" class="help-block">Le nom de famille est requis</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Prenom.valid }">
      <label for="Prenom">Prénom</label>
      <input type="text" class="form-control" name="Prenom" [(ngModel)]="model.Prenom" #Prenom="ngModel" required />
      <div *ngIf="f.submitted && !Prenom.valid" class="help-block">Le prénom est requis</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Adresse.valid }">
      <label for="Adresse">Adresse</label>
      <input type="text" class="form-control" name="Adresse" [(ngModel)]="model.Adresse" #Adresse="ngModel" required />
      <div *ngIf="f.submitted && !Adresse.valid" class="help-block">L'addresse est requise</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !cp.valid }">
      <label for="cp">Code postale</label>
      <input type="text" class="form-control" name="cp" [(ngModel)]="model.cp" #cp="ngModel" required />
      <div *ngIf="f.submitted && !cp.valid" class="help-block">Le code postal est requis</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Ville.valid }">
      <label for="Ville">Ville</label>
      <input type="text" class="form-control" name="Ville" [(ngModel)]="model.Ville" #Ville="ngModel" required />
      <div *ngIf="f.submitted && !Ville.valid" class="help-block">La ville est requise</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Créer</button>
      <a (click)="resetForm()" class="btn btn-link">Vider les champs</a>
      <button  class="btn btn-primary" type="button" name="button" [routerLink]="['/admin']">Retour liste utilisateur</button>
    </div>
  </form>
</div>
