<div class="col-md-6 col-md-offset-3">
    <h2>
      Non encore traité
    </h2>
    <div *ngFor="let fiche of ficheDeFraisNonTraite">
			<table class="table">
				<thead>
					<tr>
            <th>
              Date
            </th>
						<th>
							Type frai
						</th>
						<th>
							Nombre
						</th>
						<th>
							montant total
						</th>
            <th>
							Etat
						</th>
            <th>
              Valider
            </th>
            <th>
              Refuser
            </th>
					</tr>
				</thead>
				<tbody>
          <ng-template ngFor let-frai [ngForOf]="fiche.fraisForfait">
  					<tr *ngIf="frai.etat==='Creer'">
              <td>
                {{ frai.date_consommation | date:"dd/MM/yyyy" }}
              </td>
  						<td>
  							Forfait : {{ frai.type.libelle }}
  						</td>
  						<td>
  							{{ frai.quantite }}
  						</td>
  						<td>
  							{{ frai.type.montant_unitaire * frai.quantite }}
  						</td>
              <td>
  							{{ frai.etat }}
  						</td>
              <td>
  							<button class="btn btn-success" (click)="changerEtatFrais(fiche._id, frai._id, 'validé')">
                  &#10003;
                </button>
  						</td>
              <td>
                <button class="btn btn-warning" (click)="changerEtatFrais(fiche._id, frai._id, 'refusé')">
                  &times;
                </button>
  						</td>
  					</tr>
          </ng-template>
          <ng-template ngFor let-frai [ngForOf]="fiche.fraisHorsForfait">
  					<tr *ngIf="frai.etat==='Creer'">
              <td>
                {{ frai.date_consommation | date:"dd/MM/yyyy" }}
              </td>
  						<td>
  							Hors forfait :{{ frai.type.libelle }}
  						</td>
  						<td>
  							{{ frai.quantite }}
  						</td>
  						<td>
  							{{ frai.type.montant_unitaire * frai.quantite }}
  						</td>
              <td>
  							{{ frai.etat }}
  						</td>
              <td>
  							<button class="btn btn-success" (click)="changerEtatFraisHorsForfait(fiche._id, frai._id, 'validé')">
                  &#10003;
                </button>
  						</td>
              <td>
                <button class="btn btn-warning" (click)="changerEtatFraisHorsForfait(fiche._id, frai._id, 'refusé')">
                  &times;
                </button>
  						</td>
  					</tr>
          </ng-template>
				</tbody>
			</table>
		</div>
		<div class="" *ngFor="let fiche of ficheDeFrais">
			<h2>
				{{ fiche.user.Nom }} {{ fiche.mois}}
			</h2>
			<table class="table">
				<thead>
					<tr>
            <th>
							Date
						</th>
						<th>
							type frais
						</th>
						<th>
							nombre
						</th>
						<th>
							montant total
						</th>
            <th>
							Etat
						</th>
            <th>
              Valider
            </th>
            <th>
              Refuser
            </th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let frai of fiche.fraisForfait">
            <td>
              {{ frai.date_consommation | date:"dd/MM/yyyy" }}
            </td>
						<td>
							Forfait : {{ frai.type.libelle }}
						</td>
						<td>
							{{ frai.quantite }}
						</td>
						<td>
							{{ frai.type.montant_unitaire * frai.quantite }}
						</td>
            <td>
							{{ frai.etat }}
						</td>
            <td>
							<button class="btn btn-success" (click)="changerEtatFrais(fiche._id, frai._id, 'validé')">
                &#10003;
              </button>
						</td>
            <td>
              <button class="btn btn-warning" (click)="changerEtatFrais(fiche._id, frai._id, 'refusé')">
                &times;
              </button>
						</td>
					</tr>
          <tr *ngFor="let frai of fiche.fraisHorsForfait">
            <td>
              {{ frai.date_consommation | date:"dd/MM/yyyy" }}
            </td>
						<td>
							Hors forfait : {{ frai.type.libelle }}
						</td>
						<td>
							{{ frai.quantite }}
						</td>
						<td>
							{{ frai.type.montant_unitaire * frai.quantite }}
						</td>
            <td>
							{{ frai.etat }}
						</td>
            <td>
							<button class="btn btn-success" (click)="changerEtatFraisHorsForfait(fiche._id, frai._id, 'validé')">
                &#10003;
              </button>
						</td>
            <td>
              <button class="btn btn-warning" (click)="changerEtatFraisHorsForfait(fiche._id, frai._id, 'refusé')">
                &times;
              </button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</div>
