<div class="col-md-6 center-block">
    <h1>Hi {{currentUser.firstName}}!</h1>
		<p><a [routerLink]="['/login']">Logout</a></p>
		<div class="" *ngFor="let fiche of ficheDeFrais">
			<h2>
				{{ fiche.user.Nom }}
			</h2>
			<table class="table">
				<thead>
					<tr>
						<th>
							type frais
						</th>
						<th>
							nombre
						</th>
						<th>
							montant total
						</th>
            <th>
							Etat
						</th>
            <th>
              Valider
            </th>
            <th>
              Refusée
            </th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let frai of fiche.fraisForfait">
						<td>
							{{ frai.type.libelle }}
						</td>
						<td>
							{{ frai.quantite }}
						</td>
						<td>
							{{ frai.type.montant_unitaire * frai.quantite }}
						</td>
            <td>
							{{ frai.etat }}
						</td>
            <td>
							<button class="btn btn-success" (click)="changerEtatFrais(fiche._id, frai._id, 'valider')">
                Valider le frais
              </button>
						</td>
            <td>
              <button class="btn btn-warning" (click)="changerEtatFrais(fiche._id, frai._id, 'refuser')">
                Refuser le frais
              </button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
</div>
