<div class="">
	<div class="row" *ngFor="let fiche of ficheDeFrais">
		<!-- On affiche pour chaque mois la fiche de frais liée ainsi que ces frais forfait et hors forfait
		dans 2 tableau différent-->
		<h2>
			{{ fiche.mois | uppercase}} {{fiche.annee}} - {{fiche.etat}}
		</h2>
		<div class="col-md-6">
			<h3>
				Frais forfait
			</h3>
			<!-- TODO mettre les deux tableau l'un a coté de l'autre-->
			<table class="table">
				<thead>
					<tr>
						<th>
							Date du frai
						</th>
						<th>
							Type de frai
						</th>
						<th>
							Nombre
						</th>
						<th>
							Montant total
						</th>
						<th>
							Etat
						</th>
						<th>
							Supprimer
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let frai of fiche.fraisForfait">
						<td>
							{{ frai.date_consommation | date:'dd/MM/yyyy'}}
						</td>
						<td>
							{{ frai.type.libelle }}
						</td>
						<td>
							{{ frai.quantite }}
						</td>
						<td>
							{{ frai.type.montant_unitaire * frai.quantite }}
						</td>
						<td>
							{{ frai.etat }}
						</td>
						<td style="text-align: center;">
							<button class="btn btn-warning" [disabled]="frai.etat === 'Creer'" (click)="deleteFrais(fiche._id ,frai._id)">&times;</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<h3>
				Frais hors forfait
			</h3>
			<table class="table">
				<thead>
					<tr>
						<th>
							Date du frai
						</th>
						<th>
							Nom
						</th>
						<th>
							Nombre
						</th>
						<th>
							Montant unitaire
						</th>
						<th>
							Montant Total
						</th>
						<th>
							Etat
						</th>
						<th>
							Supprimer
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let frai of fiche.fraisHorsForfait">
						<td>
							{{ frai.date_consommation | date:'dd/MM/yyyy'}}
						</td>
						<td>
							{{ frai.type.libelle }}
						</td>
						<td>
							{{ frai.quantite }}
						</td>
						<td>
							{{ frai.type.montant_unitaire}}
						</td>
						<td>
							{{ frai.type.montant_unitaire * frai.quantite }}
						</td>
						<td>
							{{ frai.etat }}
						</td>
						<td style="text-align: center;">
							<button class="btn btn-warning" [disabled]="frai.etat === 'Creer'" (click)="deleteFraisHorsForfait(fiche._id ,frai._id)">&times;</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
